/*general*/

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    header, footer {
        position: fixed;
        left: 0;
        width: 100vw;
    }

    .footer-row, .light-gray-area {
        height: 100%;
    }

    .arrow, .microphone {
        font-size: 16px;
    } 

    /*colors*/

        body {
            background-color: black;
        }

        button, li, .lable {
            color: white;
        }

        button, .light-gray-area {
            background-color: rgb(74, 74, 74);
        }

    /*colors-end*/

    /*flexbox*/
        .header-content, footer, .footer-row, .footer-column-25, .footer-column-50, ul, li, .light-gray-area, .row  {
            display: flex;
        }

        footer, .footer-row, .footer-column-25, .footer-column-50 {
            justify-content: center;
        }

        .header-content, .right {
            justify-content: flex-end;
        }

        footer, .footer-column-25, .footer-column-50, .light-gray-area {
            align-items: center;
        }

        footer, .footer-row, .footer-column-50 {
            justify-content: center;
        }

    /*flexbox*/

/*general-end*/


/*header*/

header {
    top:0;  
    z-index: 1;
}

button {
    padding: 5px;
    border-radius: 7px;
    border-color: rgb(74, 74, 74);
}

.small-icon {
    font-size: 15px;
}

/*header-end*/

/*main*/

main {
    margin: 80px;
}

.row {
    justify-content: space-between;
}

.column-14 {
    width: 14%;
}

.content {
    position: relative;
}

.lable {
    position: absolute;
    background-color: rgb(74, 74, 74, 0.7);
    bottom: 4px;
    padding: 5px;
}

/*main-end*/

/*footer*/

footer {
    height: 90px;
    bottom:0;
    background-color: rgb(34, 34, 34);
}

.footer-container {
    height: 100%;
    width: 100%;
}

.footer-column-25 {
    width: 25%;
}

.footer-column-50 {
    width: 50%;
}

.left {
    justify-content: flex-start;
}

li {
    text-align: center;
    padding-left: 15px;
}

i {
    font-size: 30px;
}

.icon-function {
    padding-top: 10px;
}

.arrow {
    padding: 20px 10px 0px 10px;
}

.logo-green {
    color: rgb(26, 201, 26);
}

.only-left-element {
    padding: 0 20px;
    color: red;
}

/*footer*/